* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: #0f172a;
  color: #e5e7eb;
}

/* HERO */
.hero {
  height: 100vh;
  display: flex;
  align-items: center;
  padding-left: 10%;
}

.hero-text h1 {
  font-size: 60px;
  color: #38bdf8;
}

.hero-text h2 {
  font-size: 32px;
  margin-top: 10px;
}

.hero-text span {
  color: #22c55e;
}

.hero-text p {
  margin-top: 20px;
  font-size: 18px;
  max-width: 500px;
  color: #cbd5f5;
}

/* SKILLS */
.skills {
  padding: 80px 10%;
  background: #020617;
}

.skills h2 {
  font-size: 36px;
  margin-bottom: 40px;
  text-align: center;
  color: #38bdf8;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.skill-card {
  background: #0f172a;
  padding: 20px;
  text-align: center;
  border-radius: 12px;
  font-size: 18px;
  transition: 0.3s;
  border: 1px solid #1e293b;
}

.skill-card:hover {
  transform: translateY(-5px);
  background: #020617;
  border-color: #22c55e;
}

/* FOOTER */
footer {
  padding: 20px;
  text-align: center;
  background: #020617;
  color: #94a3b8;
}
